{
    "singleQuote": true,
    "trailingComma": "all",
    "endOfLine": "auto",
    "prettier/prettier": [
        "error",
        {
            "endOfLine": "auto"
        }
    ],
    "tabWidth": 4,
    "bracketSpacing": true
}